@import '/src/style-helper/colors.scss';
@import '/src/style-helper/prefix.scss';
@import './src/style-helper/mixin.scss';

.header-front-page {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 140px;
    position: absolute;

    .header-title {
        @include display-flex-full;
        width: 20%;
        height: 100%;
        font-size: 3em;
        color: $header-title-color;
        font-weight: bold;
    }

    .header-button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        justify-content: space-evenly;
        width: 50%;
        height: 100%;

        button {
            padding: 8px 10px;
            width: 120px;
            height: 40px;
            border-radius: 12px;
            border: none;
            color: #fff;
            font-weight: bold;
        }

        .home-btn {
            background-color: $home-btn-color;

            &:hover {
                background-color: #d1be71;
                cursor: pointer;
            }
        }

        .login-btn {
            background-color: $login-btn-color;

            &:hover {
                background-color: #32706c;
                cursor: pointer;
            }
        }
        
        .about-btn {
            background-color: $about-btn-color;

            &:hover {
                background-color: #590881;
                cursor: pointer;
            }
        }

        .support-btn {
            background-color: orange;

            &:hover {
                background-color: rgb(166, 111, 7);
                cursor: pointer;
            }

        }

        .logoutBtn {
            background-color: #d1be71;

            &:hover {
                background-color: #ccac2b;
                cursor: pointer;
            }

        }
    }
}