@import '/src/style-helper/colors.scss';
@import '/src/style-helper/prefix.scss';
@import './src/style-helper/mixin.scss';

    .container-header {
        height: 80px;
        width: 100%;
    }

    .background-image {
        background-size: 100vw 100vh;
        background-attachment: inherit;
    }

    .image-container {
        @include display-flex-full;
        padding: 75px;
        height: auto;
        width: 100%;

        .image {
            height: 50%;
            width: 50%;
        }
    }

    .bg {
        background-size: 100vw;
        height: 1100px;
    }