@import '/src/style-helper/colors.scss';
@import '/src/style-helper/prefix.scss';
@import './src/style-helper/mixin.scss';

    .container-header {
        height: 80px;
        width: 100%;
    }

    .background-image {
        background-size: 100vw 100vh;
        background-attachment: inherit;
    }

    .image-container {
        @include display-flex-full;
        padding: 75px;
        height: auto;
        width: 100%;

        .image {
            height: 50%;
            width: 50%;
        }
    }

    .bg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: 100vw;
        height: 885px;
        width: 100%;

        .row-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 900px;
            width: 100%;

        .background-text {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25%;
            width: 100%;

            h2 {
                color: #fff;
                font-size: 2em;
            }
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 20%;
            width: 75%;

            .card {
                height: 300px;
                width: 250px;
                padding: 15px;
                background-color: #fff;
                border-radius: 12px;

                .camping-spot-image {
                    height: 120px;
                    width: 100%;
                    border-radius: 12px;
                }

                .card-text {
                    border-top: 1px solid #000;
                    width: 90%;
                    height: 30px
                }

                .card-length {
                    color: #000;
                    font-size: 0.9em;
                    height: 20px;
                    width: 100%;
                    margin-top: 1.5em;
                    font-weight: bold;
                }

                .price-spot {
                    font-size: 1.2em;
                    color: lightseagreen;
                    border-bottom: 1px solid #000;
                }

                .btn-card-field {
                    @include display-flex-full;
                    margin-top: 0.4em;
                    height: 50px;
                    width: 100%;

                    button {
                        width: 40%;
                        background-color: $header-color;
                        border-radius: 12px;
                        border: none;
                        color: #fff;
                        font-size: 1em;
                    }
                }

                .center-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .activity-image {
                        width: 150px;
                        height: 80px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                    }

                    .activity-text {
                        color: gray;
                        width: 80%;
                        height: auto;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    button {
                        background-color: #07524D;
                        margin-top: 5px;
                        color: #fff;
                        padding: 8px;
                        width: 80px;
                        border: none;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}