$header-title-color: #548778;
$home-btn-color: #E0C864;
$login-btn-color: #0C948A;
$support-btn-color: #574E23;
$about-btn-color: #6f0ca1;
$background-btn-color: #88A660;
$background-text-color: #627F76;
$color6: #A0C774;
$color7: #7EA89A;
$color8: #FEFACB;
$color9: #86D3BF;
$color10: #07524D;
$color12: #77BAB5;