@import '/src/style-helper/colors.scss';
@import '/src/style-helper/prefix.scss';
@import './src/style-helper/mixin.scss';


.background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70%;
    height: 100vh;
}

.background-image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 200px;
    width: 300px;
    height: 250px;

    .text-1 {
        width: 100%;
        height: 30%;
        opacity: 0.8;
        font-size: 1.2em;
        text-transform: uppercase;
        color: $background-text-color;
        text-decoration: underline $background-text-color;
    }

    .text-2 {
        width: 100%;
        height: 30%;
        color: #000;
        font-size: 1.4em;
        font-weight: bold;

        span {
            font-size: 0.7em;
            font-weight: lighter;
        }
    }

    .text-btn-field {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40%;

        button {
            height: 40px;
            width: 140px;
            border-radius: 12px;
            background-color: $background-btn-color;
            border: none;
            color: #fff;

            &:hover {
                background-color: #728c51;
                cursor: pointer;
            }
        }
    }
}