@import '/src/style-helper/colors.scss';
@import '/src/style-helper/prefix.scss';
@import './src/style-helper/mixin.scss';


.test {
    position: absolute;
    z-index: 1000;
    height: 100vh;

    .login-form {
        position: absolute;
        width: 600px;
        height: 450px;
        background-color: $background-text-color;
        top: 40%;
        left: 50%;
        transform: translate(-90%,40%);
        z-index: 1000;
        border-radius: 12px;
        padding: 20px;
        position: relative;

        .closing-form {
            position: absolute;
            left: 550px;
            top: 5px;
            color: #fff;
            width: 40px;
            height: 40px;  
        }

        .background-login-image {
            position: absolute;
            left: 220px;
            bottom: 20px;
            width: 450px;
            height: 390px;
            background-size: 80%;
            background-repeat: no-repeat;
        }

        .center-input {
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 80%;

            h1 {
                width: 45%;
                text-align: center;
                height: auto;
                padding: 5px;
                background-color: #8dae68;
                color: #fff;
                border-radius: 12px;
                text-transform: uppercase;
                letter-spacing: 0.1em;
            }
    
            label {
                margin-top: 15px;
                width: 100%;
                color: #fff;
                font-size: 1.2em;
            }
    
            input {
                margin-top: 5px;
                border-radius: 12px;
                border: none;
                z-index: 15;
                padding: 5px;
            }

            input[type="text"], input[type="password"] {
                padding: 5px;
            }
                
            button {
                margin-top: 30px;
                width: 130px;
                height: auto;
                padding: 5px;
                color: #fff;
                background-color: $login-color;
                border-radius: 12px;
                border: none;
    
                &:hover {
                    background-color: #95b077;
                }
            }
    
            .login-info {
                font-size: 0.8em;
                margin-top: 20px;
                color: #fff;
                text-decoration: underline #fff;
    
                a {
                    color: #fff;
                }
            }    
        }
    }
}
