$header-title-color: #548778;
$home-btn-color: #E0C864;
$login-btn-color: #0C948A;
$support-btn-color: #574E23;
$about-btn-color: #6f0ca1;
$background-btn-color: #88A660;
$background-text-color: #627F76;
$login-color: #A0C774;
$color7: #7EA89A;
$home-page-header: #FEFACB;
$color9: #86D3BF;
$color10: #07524D;
$color12: #77BAB5;
$header-color: #1D413F;
$footer-color: #393939;

$support-header-color: #8CA6EF;